In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('player.csv')

print(df.head())
print(df.tail())

              Name  "Team"        "Position"   "Height(inches)"  \
0    Adam Donachie   "BAL"         "Catcher"                 74
1        Paul Bako   "BAL"         "Catcher"                 74
2  Ramon Hernandez   "BAL"         "Catcher"                 72
3     Kevin Millar   "BAL"   "First Baseman"                 72
4      Chris Gomez   "BAL"   "First Baseman"                 73

    "Weight(lbs)"   "Age"
0             180   22.99
1             215   34.69
2             210   30.78
3             210   35.43
4             188   35.71
                Name  "Team"           "Position"   "Height(inches)"  \
22      Jaret Wright   "BAL"   "Starting Pitcher"                 74
23       Kris Benson   "BAL"   "Starting Pitcher"                 76
24  Scott Williamson   "BAL"     "Relief Pitcher"                 72
25      John Parrish   "BAL"     "Relief Pitcher"                 71
26        Danys Baez   "BAL"     "Relief Pitcher"                 75

     "Weight(lbs)"   "Age"
22             230   31.17
23             195   32.31
24             180   31.03
25             192   29.26
26             225   29.47

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               27 non-null     object
 1    "Team"            27 non-null     object
 2    "Position"        27 non-null     object
 3    "Height(inches)"  27 non-null     int64
 4    "Weight(lbs)"     27 non-null     int64
 5    "Age"             27 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.4+ KB

In [4]:
df.iloc[[1],[0,1]]

        Name  "Team"
1  Paul Bako   "BAL"

In [5]:
df=pd.read_csv('nulldata.csv')

new=df.dropna()
new

,Name,"""Team""","""Position""","""Height(inches)""","""Weight(lbs)""","""Age"""
0,Adam Donachie,"""BAL""","""Catcher""",74,180,22.99
1,Paul Bako,"""BAL""","""Catcher""",74,215,34.69
2,Ramon Hernandez,"""BAL""","""Catcher""",72,210,30.78
3,Kevin Millar,"""BAL""","""First Baseman""",72,210,35.43
5,Brian Roberts,"""BAL""","""Second Baseman""",69,176,29.39
6,Miguel Tejada,"""BAL""","""Shortstop""",69,209,30.77
7,Melvin Mora,"""BAL""","""Third Baseman""",71,200,35.07
8,Aubrey Huff,"""BAL""","""Third Baseman""",76,231,30.19
10,Jeff Fiorentino,"""BAL""","""Outfielder""",73,188,23.88
11,Freddie Bynum,"""BAL""","""Outfielder""",73,180,26.96
12,Nick Markakis,"""BAL""","""Outfielder""",74,185,23.29
13,Brandon Fahey,"""BAL""","""Outfielder""",74,160,26.11
14,Corey Patterson,"""BAL""","""Outfielder""",69,180,27.55
15,Jay Payton,"""BAL""","""Outfielder""",70,185,34.27
17,Erik Bedard,"""BAL""","""Starting Pitcher""",73,189,27.99
18,Hayden Penn,"""BAL""","""Starting Pitcher""",75,185,22.38
19,Adam Loewen,"""BAL""","""Starting Pitcher""",78,219,22.89
20,Daniel Cabrera,"""BAL""","""Starting Pitcher""",79,230,25.76
21,Steve Trachsel,"""BAL""","""Starting Pitcher""",76,205,36.33
22,Jaret Wright,"""BAL""","""Starting Pitcher""",74,230,31.17
24,Scott Williamson,"""BAL""","""Relief Pitcher""",72,180,31.03
25,John Parrish,"""BAL""","""Relief Pitcher""",71,192,29.26
26,Danys Baez,"""BAL""","""Relief Pitcher""",75,225,29.47

In [6]:
df

,Name,"""Team""","""Position""","""Height(inches)""","""Weight(lbs)""","""Age"""
0,Adam Donachie,"""BAL""","""Catcher""",74,180,22.99
1,Paul Bako,"""BAL""","""Catcher""",74,215,34.69
2,Ramon Hernandez,"""BAL""","""Catcher""",72,210,30.78
3,Kevin Millar,"""BAL""","""First Baseman""",72,210,35.43
4,Chris Gomez,"""BAL""","""First Baseman""",73,188,NaN
5,Brian Roberts,"""BAL""","""Second Baseman""",69,176,29.39
6,Miguel Tejada,"""BAL""","""Shortstop""",69,209,30.77
7,Melvin Mora,"""BAL""","""Third Baseman""",71,200,35.07
8,Aubrey Huff,"""BAL""","""Third Baseman""",76,231,30.19
9,Adam Stern,"""BAL""","""Outfielder""",71,180,NaN
10,Jeff Fiorentino,"""BAL""","""Outfielder""",73,188,23.88
11,Freddie Bynum,"""BAL""","""Outfielder""",73,180,26.96
12,Nick Markakis,"""BAL""","""Outfielder""",74,185,23.29
13,Brandon Fahey,"""BAL""","""Outfielder""",74,160,26.11
14,Corey Patterson,"""BAL""","""Outfielder""",69,180,27.55
15,Jay Payton,"""BAL""","""Outfielder""",70,185,34.27
16,Jay Gibbons,"""BAL""","""Designated Hitter""",72,197,NaN
17,Erik Bedard,"""BAL""","""Starting Pitcher""",73,189,27.99
18,Hayden Penn,"""BAL""","""Starting Pitcher""",75,185,22.38
19,Adam Loewen,"""BAL""","""Starting Pitcher""",78,219,22.89
20,Daniel Cabrera,"""BAL""","""Starting Pitcher""",79,230,25.76
21,Steve Trachsel,"""BAL""","""Starting Pitcher""",76,205,36.33
22,Jaret Wright,"""BAL""","""Starting Pitcher""",74,230,31.17
23,Kris Benson,"""BAL""","""Starting Pitcher""",76,195,NaN
24,Scott Williamson,"""BAL""","""Relief Pitcher""",72,180,31.03
25,John Parrish,"""BAL""","""Relief Pitcher""",71,192,29.26
26,Danys Baez,"""BAL""","""Relief Pitcher""",75,225,29.47

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               27 non-null     object
 1    "Team"            27 non-null     object
 2    "Position"        27 non-null     object
 3    "Height(inches)"  27 non-null     int64
 4    "Weight(lbs)"     27 non-null     int64
 5    "Age"             23 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.4+ KB

In [8]:
df.fillna(125)
df

,Name,"""Team""","""Position""","""Height(inches)""","""Weight(lbs)""","""Age"""
0,Adam Donachie,"""BAL""","""Catcher""",74,180,22.99
1,Paul Bako,"""BAL""","""Catcher""",74,215,34.69
2,Ramon Hernandez,"""BAL""","""Catcher""",72,210,30.78
3,Kevin Millar,"""BAL""","""First Baseman""",72,210,35.43
4,Chris Gomez,"""BAL""","""First Baseman""",73,188,NaN
5,Brian Roberts,"""BAL""","""Second Baseman""",69,176,29.39
6,Miguel Tejada,"""BAL""","""Shortstop""",69,209,30.77
7,Melvin Mora,"""BAL""","""Third Baseman""",71,200,35.07
8,Aubrey Huff,"""BAL""","""Third Baseman""",76,231,30.19
9,Adam Stern,"""BAL""","""Outfielder""",71,180,NaN
10,Jeff Fiorentino,"""BAL""","""Outfielder""",73,188,23.88
11,Freddie Bynum,"""BAL""","""Outfielder""",73,180,26.96
12,Nick Markakis,"""BAL""","""Outfielder""",74,185,23.29
13,Brandon Fahey,"""BAL""","""Outfielder""",74,160,26.11
14,Corey Patterson,"""BAL""","""Outfielder""",69,180,27.55
15,Jay Payton,"""BAL""","""Outfielder""",70,185,34.27
16,Jay Gibbons,"""BAL""","""Designated Hitter""",72,197,NaN
17,Erik Bedard,"""BAL""","""Starting Pitcher""",73,189,27.99
18,Hayden Penn,"""BAL""","""Starting Pitcher""",75,185,22.38
19,Adam Loewen,"""BAL""","""Starting Pitcher""",78,219,22.89
20,Daniel Cabrera,"""BAL""","""Starting Pitcher""",79,230,25.76
21,Steve Trachsel,"""BAL""","""Starting Pitcher""",76,205,36.33
22,Jaret Wright,"""BAL""","""Starting Pitcher""",74,230,31.17
23,Kris Benson,"""BAL""","""Starting Pitcher""",76,195,NaN
24,Scott Williamson,"""BAL""","""Relief Pitcher""",72,180,31.03
25,John Parrish,"""BAL""","""Relief Pitcher""",71,192,29.26
26,Danys Baez,"""BAL""","""Relief Pitcher""",75,225,29.47

In [9]:
df=pd.read_csv('dirtydata.csv')
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [10]:
x=df['Calories'].mean()
print(x)
df['Calories'].fillna(x, inplace=True)
df

304.68

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    304.68
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45           NaN    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      20201226    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    304.68
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31        60  '2020/12/31'     92       115    243.00

In [11]:
x=df['Calories'].median()
print(x)
df['Calories'].fillna(x)
df

300.0

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    304.68
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45           NaN    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      20201226    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    304.68
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31        60  '2020/12/31'     92       115    243.00

In [15]:
x=df['Calories'].mode()[0]
print(x)
df['Calories'].fillna(x)
df

300.0

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    304.68
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45           NaN    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      20201226    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    304.68
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31        60  '2020/12/31'     92       115    243.00

In [18]:
df=pd.read_csv('dirtydata.csv')
df

df['Date']=pd.to_datetime(df['Date'])
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [22]:
df=pd.read_csv('dirtydata.csv')
print(df)

df.dropna(subset=['Date'],inplace=True)
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0